body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: purple;
}

div {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

div {
  background-color: #ffffff; /* 白色背景 */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: purple;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  background-color: purple; /* 蓝色背景 */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c695f3; /* 鼠标悬停时的颜色 */
}

#countOutput {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #be3ff8; /* 绿色字体颜色 */
}
